<nav class="navbar navbar-default">
  <a class="navbar-brand">Recipe Book</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/recipes" class="nav-link">Recipes</a> </li>
      <li routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
          Manage
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <a style="cursor: pointer;">Action</a></li>
          <li><a style="cursor: pointer;">Another action</a></li>
          <li class="divider"></li>
          <li><a style="cursor: pointer;">Something else here</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>